body {
  background-color: #eaeaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.ui.main.container {
  margin-top: 7em;
}

.ui.view.button {
  /* background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%); */
  /* box-shadow: 0 0 5px 2px #ff3cac; */
  box-shadow: -1px 0px 5px 2px #2b86c5, 1px 0px 5px 2px #ff3cac, 0px 1px 5px 2px #ff3cac,
    0px -1px 5px 2px #784ba0;
  background-color: white;
}

.ui.view.button:hover {
  box-shadow: -1px 0px 8px 2px #2b86c5, 1px 0px 8px 2px #ff3cac, 0px 1px 8px 2px #ff3cac,
    0px -1px 8px 2px #784ba0;
}
